.noUi-connect {
  background: #c00;
}

.details.fade-exit-done {
  display: none;
}
.feedback {
  display: none;
}
.feedback.fade-enter-done {
  display: block;
}

.fade-enter {
  opacity: 0;
  display: block;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  display: block;
}
.fade-exit {
  opacity: 1;
  display: block;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
  display: block;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  right: -12px;
}
.noUi-handle:before,
.noUi-handle:after {
  left: 8px;
}
.noUi-handle:after {
  left: 12px;
}

.og-grid li.selected > a:first-child img,
.og-grid li.sibling > a:first-child img {
  box-shadow: 0 0 0 2px #e3a1a1;
}
